<body>
    <div class="first">
        <p>
            Bienvenue dans votre espace de tableau de bord de coach !<br><br>

            Ici, vous pouvez suivre vos tâches à faire, gérer vos réunions, examiner les CV des candidats et bien plus
            encore.
        </p><br>
            <div class="rectangle">
<ul>
    <li>11:00 <div class="gray">45min</div></li>
    <li> <img src="./assets/face.svg"></li>
    <li>saif abid <div class="thin"><b>Growth</b> Pack</div></li>
    <li> 12 Avril <div class="blue">confirme</div></li>
    <li><img src="./assets/edit.svg"/>  </li>
    <li> <img src="./assets/trash.svg"/> </li>
</ul>
</div>
<div class="space"></div>
<div class="rectangle">

<ul>
    <li>11:00 <div class="gray">45min</div></li>
    <li> <img src="./assets/face.svg"></li>
    <li>saif abid <div class="thin"><b>Growth</b> Pack</div></li>
    <li> 12 Avril <div class="blue">confirme</div></li>
    <li><img src="./assets/edit.svg"/>  </li>
    <li> <img src="./assets/trash.svg"/> </li>
</ul>
</div>

<div class="space"></div>
<div class="rectangle">

<ul>
    <li>11:00 <div class="gray">45min</div></li>
    <li> <img src="./assets/face.svg"></li>
    <li>saif abid <div class="thin"><b>Growth</b> Pack</div></li>
    <li> 12 Avril <div class="blue">confirme</div></li>
    <li><img src="./assets/edit.svg"/>  </li>
    <li> <img src="./assets/trash.svg"/> </li>
</ul>
</div>

<div class="space"></div>
<div class="rectangle">

<ul>
    <li>11:00 <div class="gray">45min</div></li>
    <li> <img src="./assets/face.svg"></li>
    <li>saif abid <div class="thin"><b>Growth</b> Pack</div></li>
    <li> 12 Avril <div class="blue">confirme</div></li>
    <li><img src="./assets/edit.svg"/>  </li>
    <li> <img src="./assets/trash.svg"/> </li>
</ul>
            </div>
        </div>


    <div class="second">
 <!-------------------------------------------------------------->
 <div class="mesure">Calendrier de planification</div>
 <br />
 <div class="calendar">
   <div class="calendar_color">
     <div>Lun</div>
     <div>5</div>
   </div>
   <div class="calendar_color">
     <div>Mar</div>
     <div>6</div>
   </div>
   <div class="calendar_colorM">
     <div>Mer</div>
     <div>7</div>
   </div>
   <div class="calendar_color">
     <div>Jeu</div>
     <div>8</div>
   </div>
   <div class="calendar_color">
     <div>Ven</div>
     <div>9</div>
   </div>
   <div class="calendar_color">
     <div>Sam</div>
     <div>10</div>
   </div>
   <div class="calendar_color">
     <div>Dim</div>
     <div>11</div>
   </div>
 </div>
 <!-------------------------------------------------------------->

        <div class="product">
            <div class="square"><img src="./assets/courbe.svg" /></div>


        </div>
        <h4>Candidats en cours </h4>
        <ul>
            <li><img src="./assets/face.svg"> saif abid <img src="./assets/flesh.svg" /></li>
            <li><img src="./assets/face.svg"> saif abid <img src="./assets/flesh.svg" /></li>
            <li><img src="./assets/face.svg"> saif abid <img src="./assets/flesh.svg" /></li>

        </ul>

    </div>
    <script src="index.js"></script>

</body>
