<app-card-profil-red></app-card-profil-red>

<div ngClass="container_success">
  <h1 ngClass="title"><span>Paiement</span> par versement</h1>
  <p ngClass="paragraph">
    Nous vous prions de bien vouloir procéder au paiement sur notre compte
    postal en utilisant le code suivant :<br /><span>
      17001000000021806952</span
    >
  </p>

  <p ngClass="paragraph2">Veuillez télécharger votre reçu de paiement ici.</p>
  <div ngClass="input_form">
    <button ngClass="button2">choisir un fichier</button>
    <div ngClass="input_text">Aucun fichier choisi</div>
  </div>
  <input ngClass="button" type="submit" value="Envoyer" />
</div>
