<div ngClass="container">
    <div ngClass="container_Top">
      <app-card-profil-red></app-card-profil-red>
    </div>
    <div ngClass="container_Bottom">
      <app-create-user-card-user1></app-create-user-card-user1>
      <div ngClass="container_form">
        <div ngClass="container_left">
          <div>
            <h1 ngClass="title1">Information personnel</h1>
          </div>
          <div>Votre niveau d'études :</div>
          <input ngClass="input" #education />
          <div ngClass="margin_top">Veuillez entrer votre diplome :</div>
          <input ngClass="input" id="margin_top_input" />
          <div ngClass="margin_top">Veuillez entrer vos compétences :</div>
          <input ngClass="input" />
          <div ngClass="margin_top">
            Veuillez entrer expérience professionnelle :
          </div>
          <input ngClass="input" id="textarea" #about />
        </div>
  
        <div ngClass="container_right">
          <h1 ngClass="title2">Information carrière</h1>
          <hr ngClass="lign" />
          <div ngClass="padding_bottom">Poste recherché :</div>
          <input ngClass="input" id="input" #field />
          <div ngClass="margin_top">Entrez votre à propos ici</div>
          <input ngClass="input" id="input2" />
          <button
            ngClass="button"
           
          >
  
            Suivant
          </button>
        </div>
      </div>
    </div>
  </div>
  
