<div>
  <div class="navbar">
    <h2 class="username">
      Bonjour,<span class="span_navbar"
        >{{ user.firsname }} {{ user.lastname }}</span
      >
    </h2>
    <button class="button_navbar">Discutez avec votre COACH</button>
    <img
      class="icon_navbar1"
      [src]="user.photo"
      style="width: 40px; height: 40px; border-radius: 50%"
    />
  </div>
</div>

<div ngClass="container_profile">
  <div class="tableau_de_bord">
    <div class="menu">
      <img class="logo" src="./assets/karriery.png" />
      <div
        [className]="
          path === '/userProfil/userDashbord' ? 'notActiv red' : 'notActiv'
        "
        (click)="move('/userProfil/userDashbord')"
      >
        <mat-icon>dashboard</mat-icon>
      </div>
      <div
        [className]="
          path === '/userProfil/infoPerso' ? 'notActiv red' : 'notActiv'
        "
        (click)="move('/userProfil/infoPerso')"
      >
        <mat-icon>person</mat-icon>
      </div>

      <div
        [className]="
          path === '/userProfil/Reunion' ? 'notActiv red' : 'notActiv'
        "
        (click)="move('/userProfil/Reunion')"
      >
        <mat-icon>calendar_today</mat-icon>
      </div>
      <div
        [className]="
          path === '/userProfil/commandes' ? 'notActiv red' : 'notActiv'
        "
        (click)="move('/userProfil/commandes')"
      >
        <mat-icon>crop_landscape</mat-icon>
      </div>

      <hr class="hr" />
      <div
        [className]="
          path === '/userProfil/userFeedBack' ? 'notActiv red' : 'notActiv'
        "
        (click)="move('/userProfil/userFeedBack')"
      >
        <mat-icon> chat</mat-icon>
      </div>
      <div class="notActiv">
        <mat-icon>voice_chat</mat-icon>
      </div>
      <div class="notActiv" (click)="disconnect()">
        <mat-icon>exit_to_app</mat-icon>
      </div>
    </div>
  </div>

  <div class="container-page">
    <router-outlet></router-outlet>
  </div>
</div>
