<div>
  <div class="navbar">
    <h2 class="username">Bonjour,<span class="span_navbar">M.Ahmed</span></h2>
    <button class="button_navbar">Consulter mon tableau de bord</button>
    <img
      class="icon_navbar1"
      [src]="user.photo"
      style="width: 40px; height: 40px; border-radius: 50%"
    />
  </div>
</div>

<div ngClass="container_profile">
  <div class="tableau_de_bord">
    <div class="menu">
      <img class="logo" src="./assets/karriery.png" />
      <div class="red">
        <img class="icons" id="icon" src="./assets/caree.png" />
      </div>
      <img class="icons" src="./assets/profileMenu.png" />
      <img class="icons" src="./assets/calendar-menu.png" />
      <img class="icons" src="./assets/three.png" />
      <hr class="hr" />
      <img class="icons" src="./assets/chat.png" />
      <img class="icons" src="./assets/video.png" />
      <img class="icons" src="./assets/deconnexion.png" />
    </div>
  </div>

  <div class="container-page">
    <router-outlet></router-outlet>
  </div>
</div>
