<div [ngClass]="'to_put_pack_container_img_in_center'">
  <img [ngClass]="'pack_container_img'" src="./../../../assets/pack1.png" />

  <h2>GROWTH PACK</h2>
</div>

<br />
<p [ngClass]="'paraghraph_black'">Feedback CV<br />et candidatures</p>
<br />
<h3>29 DT TTC</h3>
<br />
<div>
  <div [ngClass]="'check'">
    <img src="./../../../assets/check.png" />
    <p>Avis<span> honnête</span> sur le CV</p>
  </div>
  <div [ngClass]="'check'">
    <img src="./../../../assets/check.png" />
    <p>Feedback sur le <span> système de suivi</span> des candidatures.</p>
  </div>
  <div [ngClass]="'check'">
    <img src="./../../../assets/check.png" />
    <p>Feedback sur le <span> contenu</span> et la <span> conception</span>.</p>
  </div>
</div>
