.center {
  margin-top: 300px;
  min-height: auto;
  display: grid;
  justify-items: center;
  text-align: center;
  h1 {
    width: 55%;
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 49px;

    span {
      font-weight: 600;
    }
    color: #000000;
  }
  hr {
    width: 250px;
    height: 5px;
    background: #e81a41;
    border: none;
  }
  button {
    background: white;
    border: 2px solid #e81a41;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #c61b3b;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 20px;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    height: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  button:hover {
    transform: translateY(-10px);
  }
}
@media screen and (max-width: 1300px) {
  .center {
    margin-top: 600px;
    h1 {
      font-size: 36px;
    }
  }
}
@media screen and (max-width: 875px) {
  .center {
    margin-top: 700px;
    h1 {
      font-size: 28px;
    }
  }
}
@media screen and (max-width: 450px) {
  .center {
    h1 {
      font-size: 28px;
    }
    button {
      box-sizing: border-box;
      width: 340px;
      height: 72px;
      background: #ffffff;
      border: 1.5px solid #e81a41;
      border-radius: 5px;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
    }
  }
}
