<div ngClass="imgcontainer">
  <div ngClass="logo logo-left">
    <img src="./../../../assets/KARRIERYSECOND.png" alt="logo5" />
    <div ngClass="container" id="container">
      <div ngClass="form-container log-in-container">
        <h1>L'entreprise</h1>
        <h2>Karriery</h2>
        <h3>Numéro de commande</h3>
        <h4>517</h4>
        <h5>Pack</h5>
        <h6>Evolution pack</h6>
        <div ngClass="h7">Prix TTC</div>
        <div ngClass="h8">99 DT</div>
        <div ngClass="line"></div>
        <form action="#">
          <div ngClass="h9">Sous-total</div>
          <div ngClass="h10">99 DT</div>
          <div ngClass="line"></div>
          <form action="#">
            <div ngClass="h11">Réduction</div>
            <div ngClass="h12">-10 DT</div>
            <div ngClass="line"></div>
            <form action="#">
              <div ngClass="h13">Total</div>
              <div ngClass="h14">89 DT</div>
            </form>
          </form>
        </form>
      </div>
    </div>
  </div>
</div>
