<div ngClass="body">
  <div ngClass="logo logo-left">
    <img src="./../../../assets/KARRIERYSECOND.png" alt="logo5" />
    <div ngClass="container" id="container">
      <div ngClass="form-container log-in-container">
        <h3>L'entreprise <span ngClass="left">Karriery</span></h3>
        <h3>Numéro de commande <span ngClass="left">517</span></h3>
        <h3>Pack <span ngClass="left">Evolution pack</span></h3>
        <div ngClass="h7">Prix TTC</div>
        <div ngClass="h8 left">99 DT</div>
        <div ngClass="line"></div>
        <form action="#">
          <div ngClass="h9">Sous-total</div>
          <div ngClass="h10 left">99 DT</div>
          <div ngClass="line"></div>
          <form action="#">
            <div ngClass="h11">Réduction</div>
            <div ngClass="h12 left">-10 DT</div>
            <div ngClass="line"></div>
            <form action="#">
              <div ngClass="h13">Total</div>
              <div ngClass="h14 left">89 DT</div>
            </form>
          </form>
        </form>
      </div>
    </div>
  </div>
</div>
