<div class="container" *ngFor="let e of list">
  <img ngClass="img" src="./../../../assets/karriery.png" />

  <div class="info">
    <div ngClass="div">
      <div ngClass="gras">L’entreprise:</div>
      <div>Karriery</div>
    </div>
    <div ngClass="div">
      <div ngClass="gras">Numéro de commande :</div>
      <div>{{ e.num }}</div>
    </div>
    <div ngClass="div">
      <div ngClass="gras">Prix TTC:</div>
      <div>{{ e.prix }}</div>
    </div>
    <div ngClass="div">
      <div ngClass="gras">Pack:</div>
      <div>{{ e.pack }}</div>
    </div>
    <hr ngClass="ligne" />
    <div ngClass="div">
      <div ngClass="gras">Réduction:</div>
      <div>{{ e.reduction }}</div>
    </div>
    <hr ngClass="ligne" />
    <div ngClass="div">
      <div ngClass="gras">Sous-Total:</div>
      <div>{{ e.SousTotal }}</div>
    </div>
    <hr ngClass="ligne" />
    <div ngClass="div">
      <div ngClass="gras">Total:</div>
      <div>{{ e.Total }}</div>
    </div>
  </div>
</div>
