.rectangle {
  background: linear-gradient(to right, #810909e0, #e81a41);
  width: 75%;
  max-width: 100%;
  padding: 3%;
  top: 120px;
  text-align: center;
  border-radius: 15px;
  min-height: 130px;
  left: 10%;
  position: relative;
}
.rectangle h2 {
  width: 60%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 134.9%;
  color: #ffffff;
}
.rectangle h3 {
  color: white;
  width: 60%;
}
.container_cercle {
  width: 55%;
  height: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 100px;
}
.cercle {
  border: solid 1px white;
  width: 28%;
  height: 200%;
  border-radius: 100px;
  background-color: #e81a41;
  color: #e81a41;
}
#marginRight {
  margin-right: 110px;
}
#marginleft {
  margin-left: 110px;
}
