<div class="container">
    
    <div class="left-box">
        
    </div>
    <div class="inputs-container">
    <div class="content">
        <h1 id="title">Contactez-nous</h1>
        <p id="para">N'hésitez pas à nous contacter à tout moment. Nous vous répondrons dans les meilleurs délais !</p>
    </div>
    <div class="inputs">
            <input type="text" placeholder="Nom complet">
            <input type="email" placeholder="Email">
            <input type="text" placeholder="Sujet">
            <input type="text" placeholder="Message">
                <button class="btn">Envoyer</button>
</div> 
</div>

    <div class="red-box">
        <img id="reseau" src="./assets/RESAUX.png" alt="">
    </div>
    <div class="grey-box">
        <div class="content">
        <h1>Info</h1>
        <div class="infos">
            <div class="mail">
                <img src="./assets/envelope 1.png" alt="mail" width="40px" height="40px">
                <p>info@karriery.com</p>
            </div>
            <div class="info">
                <img src="./assets/telephone 1.png" alt="mobile" width="40px" height="40px">
                <p>+216 58 065 605</p>
        </div>
        <div class="info">
            <img src="./assets/location-pin.png" alt="placeholder" width="40px" height="40px">
            <p id="lastp">27 BIS RUE LIBAN TUNIS,Tunisia</p>
      </div>
    </div>
