<div [ngClass]="'to_put_pack_container_img_in_center'">
  <img [ngClass]="'pack_container_img'" src="./../../../assets/pack3.png" />
  <h2>EXECUTIVE PACK</h2>
</div>

<br />
<p [ngClass]="'paraghraph_black'">CV pro, lettre, LinkedIn</p>
<br />
<h3>249 DT TTC</h3>
<br />
<div>
  <div [ngClass]="'check'">
    <img src="./../../../assets/check.png" />
    <p>CV rédigé de manière professionnelle.</p>
  </div>
  <div [ngClass]="'check'">
    <img src="./../../../assets/check.png" />
    <p>Formaté pour le succès.</p>
  </div>
  <div [ngClass]="'check'">
    <img src="./../../../assets/check.png" />
    <p>Optimisé pour les mots clés.</p>
  </div>
  <div [ngClass]="'check'">
    <img src="./../../../assets/check.png" />
    <p><span>Lettre </span>de motivation.</p>
  </div>
  <div [ngClass]="'check'">
    <img src="./../../../assets/check.png" />
    <p><span> </span> dans les <span> 60 jours</span>.</p>
  </div>
  <div [ngClass]="'check'">
    <img src="./../../../assets/check.png" />
    <p>Remaniement de profil<span> LinkedIn</span> .</p>
  </div>
</div>
