<app-card-profil-red></app-card-profil-red>

<div ngClass="container_success">
  <h1 ngClass="title">Vérification de votre <span>Paiement</span></h1>
  <p ngClass="paragraph">
    Nous vous remercions de votre confiance envers notre service. Nous tenons à
    vous informer que nous sommes en train de vérifier votre paiement et que
    nous vous enverrons une confirmation dès que la transaction sera finalisée.
  </p>
  <img ngClass="image" src="./../../../assets/checkk.png" />
  <p ngClass="paragraph">
    Votre compte a été vérifié avec succès. Nous vous souhaitons la bienvenue
    pour votre première étape dans votre parcours professionnel.
  </p>

  <button ngClass="button">Accédez dès maintenant à votre profil !</button>
</div>
