<app-card-profil-red></app-card-profil-red>

<div ngClass="container_success">
  <h1 ngClass="title">
    Félicitations ! Votre compte a été créé avec <span>succès</span>
  </h1>
  <p>
    Nous vous remercions sincèrement de votre confiance ! Nous sommes là pour
    vous accompagner dans la réalisation de vos objectifs professionnels et
    espérons que notre plateforme vous sera bénéfique.
  </p>
  <img ngClass="image" src="./../../../assets/checkk.png" />
  <p>
    Nous vous souhaitons la bienvenue pour votre première étape dans votre
    parcours professionnel.
  </p>

  <button ngClass="button">Accédez dès maintenant à votre profil !</button>
</div>
