<div class="imgcontainer">
  <div class="logo logo-left">
    <img src="./../../../assets/Mask.png" alt="logo5" />
    <div class="container" id="container">
      <div class="form-container log-in-container">
        <span class="span2">Abid Saif</span>
        <div class="line"></div>
        <form action="#">
          <span class="span1">Nom:</span>
          <input type="text" id="1" placeholder="Abid" />
          <button class="modifier-button1">Modifier</button>
        </form>
        <span class="span3">Prénom: </span>
        <input type="text" id="2" placeholder="Saif" />
        <button class="modifier-button2">Modifier</button>
      </div>
      <span class="span4">Email: </span>
      <input type="email" placeholder="abid.Saif2009@gmail.com" />
      <button class="modifier-button3">Modifier</button>
      <span class="span5">Mot de passe:</span>
      <input type="password" placeholder="*********" />
      <button class="modifier-button4">Modifier</button>
    </div>
  </div>
</div>
