<div ngClass=".containerr">
  <div ngClass="logo logo-left">
    <img src="./../../../assets/Mask.png" alt="logo5" />
    <div ngClass="containerr" id="container">
      <div ngClass="form-container log-in-container">
        <span ngClass="span2">Abid Saif</span>
        <div ngClass="line"></div>
        <form action="#">
          <span ngClass="span1">Nom:</span>
          <input type="text" id="1" placeholder="Abid" />
          <button ngClass="modifier-button1">Modifier</button>
        </form>
        <span ngClass="span3">Prénom: </span>
        <input type="text" id="2" placeholder="Saif" />
        <button ngClass="modifier-button2">Modifier</button>
      </div>
      <span ngClass="span4">Email: </span>
      <input type="email" placeholder="abid.Saif2009@gmail.com" />
      <button ngClass="modifier-button3">Modifier</button>
      <span ngClass="span5">Mot de passe:</span>
      <input type="password" placeholder="*********" />
      <button ngClass="modifier-button4">Modifier</button>
    </div>
  </div>
</div>
