<div [ngClass]="'to_put_pack_container_img_in_center'">
  <img [ngClass]="'pack_container_img'" src="./../../../assets/pack2.png" />
  <h2>EVOLUTION PACK</h2>
</div>

<br />
<p [ngClass]="'paraghraph_black'">CV professionnel <br />optimisé</p>
<br />
<h3>99 DT TTC</h3>
<br />
<div>
  <div [ngClass]="'check'">
    <img src="./../../../assets/check.png" />
    <p>CV rédigé de manière <span> professionnelle</span>.</p>
  </div>
  <div [ngClass]="'check'">
    <img src="./../../../assets/check.png" />
    <p>Formaté pour le<span> succès</span> .</p>
  </div>
  <div [ngClass]="'check'">
    <img src="./../../../assets/check.png" />
    <p>Optimisé pour<span> les mots clés</span> .</p>
  </div>
  <div [ngClass]="'check'">
    <img src="./../../../assets/check.png" />
    <p>Conseils pour postuler à<span> des emplois</span> .</p>
  </div>
</div>
