tableau_de_bord {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr 2.5fr;
}
/**************************************************************/
.menu {
  padding-bottom: 10px;
  height: 80vh;
  width: 75%;
  border: solid 6px #A71B35;
  border-radius: 0 4em 4em 0;
  border-left: none;
  display: grid;
  grid-gap: 2em;
  margin-left: 0%;
  text-align: center;
}
.red {
  background-color: #A71B35;
  border-radius: 0 1em 1em 0;
  width: 120%;
  display: grid;
  place-items: center;
}
.logo {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  width: 60px;
  height: 60px;
}
.hr {
  border: none;
  width: 70%;
  margin: 0 auto;
  height: 2px;
  background-color: #A71B35;
}
.icons {
  margin: 0 auto;
  cursor: pointer;
}
#icon {
  margin-right: 50%;
}
/**************************************************************/
.tache {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.paragraph {
  width: 50%;
}
.caroussel-image .photo11 {
  background-color: #A71B35;
}
/**************************************************************/
.tache_carousel {
  width: 90%;
  margin: 0 auto;
}
/**************************************************************/
.tableau {
  display: grid;
  min-height: 100%;
  width: 100%;
}
.search {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 2em;
}
.button_Ajouter {
  border-radius: 10px;
  width: 250px;
  height: 40px;
  color: white;
  border: rgba(197, 27, 59, 1) solid 1px;
  background-color: rgba(197, 27, 59, 1);
}
.button_tache {
  border-radius: 10px;
  width: 200px;
  height: 40px;
  background-color: white;
  border: rgba(197, 27, 59, 1) solid 1px;
  color: rgba(197, 27, 59, 1);
}
.input_search {
  border-radius: 10px;
  padding: 2px;
  width: 250px;
  height: 40px;
  border-color: rgba(186, 186, 186, 1);
}
.button_table {
  border-radius: 10px;
  width: 100px;
  height: 30px;
  background-color: white;
  border: rgba(197, 27, 59, 1) solid 1px;
  color: rgba(197, 27, 59, 1);
}
.background {
  background-color: rgba(197, 27, 59, 1);
  padding: 5px;
  width: 40px;
  border-radius: 10px;
  margin-right: 5px;
}
.title_tableau {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.table {
  width: 100%;
  height: 100%;
}
/**************************************************************/
.calendrier {
  border-radius: 10px;
  margin-left: 20px;
  box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.25);
  width: 90%;
  display: grid;
  padding: 10px;
}
.mesure {
  width: 100%;
  color: rgba(41, 45, 50, 1);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.candidats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  color: rgba(41, 45, 50, 1);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.fleche {
  padding: 5px;
  color: rgba(90, 124, 244, 1);
  border-radius: 50%;
  font-size: 24px;
  font-weight: 400;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
}
.Candidats_box {
  width: 90%;
  margin: 0 auto;
  color: rgba(41, 45, 50, 1);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.background_image1 {
  background-size: cover;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.background_image2 {
  border-radius: 50px;
  background-size: cover;
  width: 50px;
  height: 50px;
}
/**************************************************************/
.calendar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  place-items: center;
  text-align: center;
}
.calendar_color:hover {
  background-color: rgb(212, 212, 212);
  border-radius: 10px;
  padding: 5px;
}
.calendar_colorM {
  background: rgba(90, 124, 244, 1);
  border-radius: 10px;
  padding: 5px;
}
/**************************************************************/
#wrapper {
  width: 80%;
  position: relative;
  margin: 0 auto;
}
#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
#carousel::-webkit-scrollbar {
  height: 0;
}
#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}
#prev {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
  color: #E81A41;
}
#next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}
#content {
  width: 100%;
  display: grid;
  grid-gap: 2em;
  grid-auto-flow: column;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 7px;
}
.item {
  width: 130px;
  height: 180px;
  background: linear-gradient(
    19.24deg,
    rgba(255, 184, 197, 0.03) -29.74%,
    #FFF1F1 86.14%
  );
  padding: 2px;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  display: grid;
  place-items: center;
  text-align: center;
}
#it:hover {
  width: 150px;
  height: 200px;
  color: white;
  background-color: #A71B35;
  cursor: pointer;
}
/****************************************************************/
@media screen and (max-width: 1300px) {
  .tableau_de_bord {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
  }
}