<div class="main-container">
    <div class="container-left">
      <div class="current-pack">
        <div class="box_one">
          <h2>Pack:</h2>
          <h1 class="pack">Growth Pack</h1>
          <h4>Valable jusqu’au 20/06/2023</h4>
        </div>
  
        <div class="meetings">
          <div class="left">
            <div class="box_two">
              <h4><img src="./assets/calendar-menu.png" />Prochaine Réunion</h4>
              <div class="box_22">
                <div class="box222">
                  <p class="p1">Lundi</p>
                  <p class="p2">30</p>
                </div>
              </div>
            </div>
          </div>
          <div class="right">
            <div class="main-progress2-cbar">
              <h4><img src="./assets/progress.png" />Profil complet</h4>
              <img src="./../../../assets/profile_completed.png">
            </div>
          </div>
        </div>
  
        <div class="steps">
          <h1>CV en cours d'amélioration</h1>
         <img class="progress_bar_img" src="./../../../assets/progress_bar.png">
          <button class="progress_button" >Telecharger votre CV</button>
        </div>
      </div>
  
      
    </div>
    <div class="container-right">
      <div class="container" id="height">
        <h1 class="title_card">Mon Profile</h1>
        <img ngClass="img" src="{{ user.photo }}" />
        <h1 ngClass="title">{{ user.lastname }}</h1>
        <div class="title_card">Compte vérifier</div>
        <div ngClass="buttonsCard">
          <button ngClass="button_pen"><img src="./../../../assets/pen.png"></button>
          <button ngClass="button_card">Voir le profil complet</button></div>
        <hr ngClass="ligne" />
        <h2>Mes dernières transactions:</h2>
        <div ngClass="HistoriquePack" >
          <div>
            <div>
              <h3>Growth Pack</h3>
              <button class="img_button">Voir Détais</button>
            </div>
            
          </div>
          <div>
            <div>
              <div>29/03/2023</div>
              <br>
            </div>
            
          </div>
        </div>
        <div class="info">
         
         
        </div>
      </div>
    </div>
  </div>