<app-navbar></app-navbar>
<app-spinner *ngIf="spinner"></app-spinner>
<div class="container">
  <div *ngIf="packNumber === '0'" [ngClass]="'pack_container1'">
    <div [ngClass]="'to_put_pack_container_img_in_center'">
      <img [ngClass]="'pack_container_img'" src="./../../../assets/pack1.png" />

      <h2>GROWTH PACK</h2>
    </div>

    <br />
    <p [ngClass]="'paraghraph_black'">Feedback CV<br />et candidatures</p>
    <br />
    <h3>29 DT TTC</h3>
    <br />
    <div>
      <div [ngClass]="'check'">
        <img src="./../../../assets/check.png" />
        <p>Avis<span> honnête</span> sur le CV</p>
      </div>
      <div [ngClass]="'check'">
        <img src="./../../../assets/check.png" />
        <p>Feedback sur le <span> système de suivi</span> des candidatures.</p>
      </div>
      <div [ngClass]="'check'">
        <img src="./../../../assets/check.png" />
        <p>
          Feedback sur le <span> contenu</span> et la <span> conception</span>.
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="packNumber === '1'" [ngClass]="'pack_container2'">
    <div [ngClass]="'to_put_pack_container_img_in_center'">
      <img [ngClass]="'pack_container_img'" src="./../../../assets/pack2.png" />
      <h2>EVOLUTION PACK</h2>
    </div>

    <br />
    <p [ngClass]="'paraghraph_black'">CV professionnel <br />optimisé</p>
    <br />
    <h3>99 DT TTC</h3>
    <br />
    <div>
      <div [ngClass]="'check'">
        <img src="./../../../assets/check.png" />
        <p>CV rédigé de manière <span> professionnelle</span>.</p>
      </div>
      <div [ngClass]="'check'">
        <img src="./../../../assets/check.png" />
        <p>Formaté pour le<span> succès</span> .</p>
      </div>
      <div [ngClass]="'check'">
        <img src="./../../../assets/check.png" />
        <p>Optimisé pour<span> les mots clés</span> .</p>
      </div>
      <div [ngClass]="'check'">
        <img src="./../../../assets/check.png" />
        <p>Conseils pour postuler à<span> des emplois</span> .</p>
      </div>
    </div>
  </div>
  <div *ngIf="packNumber === '2'" [ngClass]="'pack_container3'">
    <div [ngClass]="'to_put_pack_container_img_in_center'">
      <img [ngClass]="'pack_container_img'" src="./../../../assets/pack3.png" />
      <h2>EXECUTIVE PACK</h2>
    </div>

    <br />
    <p [ngClass]="'paraghraph_black'">CV pro, lettre, LinkedIn</p>
    <br />
    <h3>249 DT TTC</h3>
    <br />
    <div>
      <div [ngClass]="'check'">
        <img src="./../../../assets/check.png" />
        <p>CV rédigé de manière professionnelle.</p>
      </div>
      <div [ngClass]="'check'">
        <img src="./../../../assets/check.png" />
        <p>Formaté pour le succès.</p>
      </div>
      <div [ngClass]="'check'">
        <img src="./../../../assets/check.png" />
        <p>Optimisé pour les mots clés.</p>
      </div>
      <div [ngClass]="'check'">
        <img src="./../../../assets/check.png" />
        <p><span>Lettre </span>de motivation.</p>
      </div>
      <div [ngClass]="'check'">
        <img src="./../../../assets/check.png" />
        <p><span> </span> dans les <span> 60 jours</span>.</p>
      </div>
      <div [ngClass]="'check'">
        <img src="./../../../assets/check.png" />
        <p>Remaniement de profil<span> LinkedIn</span> .</p>
      </div>
    </div>
  </div>
  <div class="content-profile">
    <div class="content-header">
      <span class="title-box">Basic info</span>
      <hr color="#F0F0F0" />
    </div>
    <div class="main-content">
      <form (ngSubmit)="onSubmit()">
        <div class="box fullname">
          <div><span>Fullname </span></div>
          <div>
            <input
              class="input a"
              placeholder="First name"
              type="text"
              name="firstName"
              [(ngModel)]="formModel.firstName"
            />
            <input
              class="input b"
              placeholder="Last name"
              type="text"
              name="lastName"
              [(ngModel)]="formModel.lastName"
            />
          </div>
        </div>
        <div class="box email">
          <div><span>Address</span></div>
          <div>
            <input
              class="inputemail"
              placeholder="Address"
              type="text"
              name="address"
              [(ngModel)]="formModel.address"
            />
          </div>
        </div>
        <div class="box fullname">
          <div><span>More information</span></div>
          <div>
            <input
              class="input a"
              placeholder="Email"
              type="text"
              name="email"
              [(ngModel)]="formModel.email"
            />
            <input
              class="input b"
              placeholder="Mobile Number"
              type="text"
              name="mobilePhone"
              [(ngModel)]="formModel.mobilePhone"
            />
          </div>
        </div>

        <div class="box email">
          <div><span>Education</span></div>
          <div>
            <input
              class="inputemail"
              placeholder="Education"
              type="text"
              name="education"
              [(ngModel)]="formModel.education"
            />
          </div>
        </div>
        <div class="box email">
          <div><span>Field of work</span></div>
          <div>
            <input
              class="inputemail"
              placeholder="Information technology,Buissness,Law,Economy....  "
              type="text"
              name="fieldOfWork"
              [(ngModel)]="formModel.fieldOfWork"
            />
          </div>
        </div>

        <div class="box bio">
          <div class="bio-span"><span>Additional Details</span></div>
          <div>
            <textarea
              name="textarea"
              class="bio-content"
              cols="67"
              rows="10"
              name="details"
              [(ngModel)]="formModel.details"
            ></textarea>
          </div>
        </div>
        <div class="buttons">
          <button class="save-button" (click)="order('dzadzdz')">
            Confirm
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
