
  .container{
     min-height: auto;
     padding-top: 0;
     margin-top: 30px;
     display: grid;
     grid-template-columns: 1fr 2fr;
     align-items: start;
     justify-items: center;
     .content-profile {
      width: auto;
      min-height: auto;
      box-shadow: 0px 4px 10px -3px #e81a41;
      border-radius: 20px;
      margin: 0 auto;
      display: grid;
      place-self: center;
  
      .content-header {
        height: 50px;
        line-height: 3;
        .title-box {
          font-weight: 500;
          font-size: 15px;
          margin-left: 25px;
        }
        #hr {
          color: red;
        }
      }
  
      .main-content {
        margin-left: 30px;
        margin-top: 20px;
        .box {
          display: flex;
          flex-direction: row;
          justify-content: space-between ;

          margin-right: 40px;
          line-height: 4;
          .input {
            height: 15px;
            width: 214px;
            border: solid 1px rgb(214, 213, 213);
            padding: 12px 20px;
          }
          .a {
            border-start-start-radius: 3px;
            border-end-start-radius: 3px;
          }
          .b {
            border-end-end-radius: 3px;
            border-start-end-radius: 3px;
          }
          .phone-input {
            width: 390px;
            height: 15px;
            border-radius: 3px;
            border: solid rgb(214, 213, 213) 1px;
            border-start-end-radius: none;
            padding: 12px 20px;
            margin-top: 10px;
          }
          .inputemail {
            width: 470px;
            height: 15px;
            border-radius: 3px;
            border: solid rgb(214, 213, 213) 1px;
            padding: 12px 20px;
          }
        }
        .photo-div {
          .edit-image {
            display: flex;
            align-items: center;
            margin-right: 200px;
            .image-profile {
              width: 80px;
              height: 80px;
              object-fit: cover;
              border-radius: 50%;
              margin: 10px;
            }
            .upload-button {
              border: transparent;
              background-color: #e81a41;
              color: white;
              margin: 10px;
              height: 39px;
              width: 120px;
              border-radius: 6px;
              cursor: pointer;
            }
            .delete-button {
              border: solid 1px rgb(214, 213, 213);
              background-color: white;
              color: gray;
              height: 39px;
              width: 80px;
              border-radius: 6px;
              cursor: pointer;
            }
          }
        }
      }
      .select-mobile {
        height: 41px;
        border-radius: 3px;
        border: solid rgb(214, 213, 213) 1px;
        border-left: none;
        font-size: 10px;
        color: rgb(80, 78, 78);
        padding: 10px;
        margin-top: 10px;
      }
      .buttons {
        display: flex;
        justify-content: end;
        .cancel-button {
          border: solid 1px gray;
          background-color: white;
          color: gray;
          margin: 30px 0px;
          height: 39px;
          width: 80px;
          border-radius: 6px;
          cursor: pointer;
        }
        .save-button {
          border: transparent;
          background-color: #e81a41;
          color: white;
          margin: 35px;
          height: 39px;
          width: 120px;
          border-radius: 6px;
          cursor: pointer;
        }
      }
      .gender-box {
        display: flex;
        .div-gender {
          padding: 12px 10px;
          height: 20px;
          width: 148px;
          border: solid rgb(214, 213, 213) 1px;
          display: flex;
          align-items: center;
          margin-top: 10px;
        }
      }
      .bio-content {
        border: solid rgb(214, 213, 213) 1px;
        border-radius: 3px;
        margin-top: 12px;
      }
    }
    .button-account {
      display: flex;
      gap: none;
      background: transparent;
      border: none;
      height: 40px;
      font-size: 15px;
      cursor: pointer;
      mat-icon {
        color: #64708d;
      }
    }
    .button-account:hover {
      border-left: solid red 2px;
    }
  }
  
  .checkbox {
    display: flex;
    margin-right: 130px;
    .input-checkbox {
      margin: 5px;
    }
    .label {
      color: gray;
    }
  }
  .profile {
    margin-bottom: 10px;
    text-align: center;
    margin-top: 40px;
  }
  
  .profile img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
  }
  
  .profile .fullname {
    color: black;
    margin: 10px 0 5px;
   
  }
  
  .profile .email-address {
    color: black;
    font-size: 14px;
  }
  .ul .li a {
    display: block;
    padding: 12px 30px;
    color: black;
    font-size: 16px;
    text-decoration: none;
  }
  .ul {
    list-style-type: none;
    padding: 0;
  }
  
  .ul .li a .icon {
    width: 30px;
    display: inline-block;
    color: rgb(148, 159, 167);
  }
  .ul .li a:hover,
  .ul .li a.active {
    background: white;
    border-left: 2px solid red;
  }
  .ul .li a .account-menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .h3 {
    margin: 0 30px;
    font-family: sans-serif;
    font-weight: 500;
  }
  .item {
    color: rgb(128, 137, 143);
  }




//main container
.readMe_container {
  width: 80%;
  display: grid;
  grid-gap: 3em;
}
//GROWTH PACK
.container_GROWTH_PACK {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  grid-gap: 1em;
}
.margin_button1 {
  margin-top: 100px;
}
.container_paragraph1 {
  width: 80%;
  display: grid;
  text-align: center;
}

.pack_container1 {
  background-image: linear-gradient(
    to bottom,
    #ad1b36,
    #b11b37,
    #b41b38,
    #b81b38,
    #bc1b39,
    #c11c3a,
    #c61c3c,
    #cb1d3d,
    #d21e3f,
    #da1f42,
    #e12044,
    #e92147
  );
  color: white;
  text-align: start;
  padding: 7%;
  padding-bottom: 10%;
  width: 300px;
  height: auto;
  font-family: "Montserrat", sans-serif;
  display: grid;
  place-self: center;
}

.paragraph1 {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  color: black;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: justify;
  span{
    color: #E81A41;
    font-weight: bolder;
  }
}

//EVOLUTION PACK
.container_EVOLUTION_PACK {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: end;
  grid-gap: 1em;
  margin:auto;
  margin-left: 10%;
  
}
.margin_button2 {
  margin-top: 10px;
}
.container_paragraph2 {
  
  width: 85%;
  justify-self: start;
  display: grid;
  text-align: center;
  order: 1;
}
.pack_container2 {

  background-image: linear-gradient(
    to bottom,
    #ad1b36,
    #b11b37,
    #b41b38,
    #b81b38,
    #bc1b39,
    #c11c3a,
    #c61c3c,
    #cb1d3d,
    #d21e3f,
    #da1f42,
    #e12044,
    #e92147
  );
  color: white;
  text-align: start;
  padding: 5%;
  width: 300px;
  min-height: auto;
  font-family: "Montserrat", sans-serif;
}
.style_pack2 {
  display: grid;
  place-items: center;
  order: 2;
}
.paragraph2 {
  margin: auto;
  padding: auto;

  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: justify;
  span{
    color: #E81A41;
  }
}
#paragraph_two {
  display: grid;
  place-self: center;
}

//EXECUTIVE PACK
.container_EXECUTIVE_PACK {
  display: grid;
  width: 90%;

  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-self: center;
  grid-gap: 1em;
}
.margin_button3 {
  margin-top: 50px;
}
.paragraph3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: justify;
  span{
    color: #E81A41;
  }
}
.pack_container3 {
  background-image: linear-gradient(
    to bottom,
    #ad1b36,
    #b11b37,
    #b41b38,
    #b81b38,
    #bc1b39,
    #c11c3a,
    #c61c3c,
    #cb1d3d,
    #d21e3f,
    #da1f42,
    #e12044,
    #e92147
  );
  color: white;
  text-align: start;
  padding: 7%;
  padding-bottom: 10%;
  width: 300px;
 height: auto;
  font-family: "Montserrat", sans-serif;
}
.container_paragraph3 {
  width: 100%;
  display: grid;
  text-align: center;
}
//common-style
.style_pack {
  display: grid;
  place-items: center;
}
.to_put_pack_container_img_in_center {
  display: grid;
  text-align: center;
  font-size: 14px;
}
.paraghraph_black {
  color: black;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
}
.check {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  justify-items: start;
  grid-gap: 1em;
  margin-bottom: 20px;
  text-align: start;
  p {
    margin: 0;
  }
  span{
    font-weight: bolder;
  }
}
.pack_container_img {
  justify-self: center !important;
  margin: 0 auto;
  margin-bottom: 10%;
}

//media query
@media screen and (max-width: 400px) {
  .container_EVOLUTION_PACK {
    display: grid;
  }
  .container_paragraph2 {
    order: 2;
  }
  .style_pack2 {
    order: 1;
  }
  .pack_container1 {
    height: auto;
  }
}
@media screen and (max-width: 1300px) {
  .margin_button1 {
    margin-top: 30px;
  }
  .margin_button2 {
    margin-top: 30px;
  }
  .margin_button3 {
    margin-top: 30px;
  }
  .pack_container1 {
    min-height: 52%;
  }
  .pack_container2 {
    min-height: 52%;
   
  }
  .readMe_container {
    width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .pack_container1 {
    min-height: auto;
    width: 300px;
  }
  .pack_container2 {
    min-height: auto;
    width: 300px;
  }
  .pack_container3 {
    min-height: auto;
    width: 300px;
  }
}
@media screen and (max-width: 1200px) {
  .pack_container1{display: none;}
  .pack_container2{display: none;}
  .pack_container3{display: none;}
  .container{

    display: grid;
    grid-template-columns: 1fr ;
    align-items: start;
    justify-items: center;}
}
@media screen and (max-width: 740px) {
  .content-profile {
      width: 70%;
      min-height: auto;
    
    }
    .main-content {
      margin-left: 30px;
      margin-top: 20px;
      .box {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center !important ;
      }
    }
    .input {
      display: flex;
      flex-direction: column;
      height: 15px;
      width: 200px !important;
      border: solid 1px rgb(214, 213, 213);
      padding: 12px 20px;
    }
  
    .phone-input {
      width: 120px !important;
      height: 15px;
      border-radius: 3px;
      border: solid rgb(214, 213, 213) 1px;
      border-start-end-radius: none;
      padding: 12px 20px;
    }
    .inputemail {
      width: 200px !important;
      height: 15px;
      border-radius: 3px;
      border: solid rgb(214, 213, 213) 1px;
      padding: 12px 20px;
    }
  
    .photo-div {
      .edit-image {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
        margin-left: 200px;
       
  
      }
    }
    .gender-box {
      display: flex;
      flex-direction: column;
      .div-gender {
        padding: 12px 10px;
        height: 20px;
        width: 100px !important;
        border: solid rgb(214, 213, 213) 1px;
        display: flex;
        align-items: center;
        margin-top: 10px;
      }
    }
    .bio-content {
      border: solid rgb(214, 213, 213) 1px;
      border-radius: 3px;
      width: 350px;
    }
    .checkbox {
      display: flex;
      margin-right: 0px;
      font-size: 10px;
      .input-checkbox {
        margin: 5px;
      }
    }
    .buttons{
      justify-content: center !important;
   
    }
  
}

