<div style="display: flex">
  <div style="flex: 1">
    <h2>Information Personnel</h2>
    <span>votre niveau d'études:</span>
    <input type="text" id="niveau" placeholder="" />
    <br />
    <div ngClass="span7">veuillez entrer votre diplome :</div>
    <input type="text" id="diplome" placeholder="" />
    <br />
    <div ngClass="span4">veuillez entrer votre compétances</div>
    <input type="text" id="competances" placeholder="" />
    <br />
    <div ngClass="span5">veuillez entrer votre adresse:</div>
    <input type="text" id="adresse" placeholder="" />
    <br />
    <div ngClass="span6">veuillez entrer votre expérience profesionnelle :</div>
    <input type="text" id="experience" placeholder="" />
  </div>
  <div style="flex: 1"></div>
  <!-- Empty div for spacing on the right side -->
</div>
<div style="display: flex">
  <div style="flex: 1"></div>
  <!-- Empty div for spacing on the left side -->
  <div style="flex: 1">
    <h3>Information Carrière</h3>
    <div ngClass="rectangle"></div>
    <form>
      <div div ngClass="span1">Poste recherché:</div>
      <input type="text" id="poste" placeholder="" />
      <br />
      <div ngClass="span2">Entrez votre à propos ici</div>
      <input type="text" id="a propos" placeholder="" />
      <br />
      <input type="submit" value="Suivant" />
    </form>
  </div>
</div>
