<div class="ilBig" id="Packs">
  <div class="pricing-section">
    <div style="height: 100px; width: 100%"></div>
    <div class="head-pricing">
      <div>
        <h1>Découvrez nos packs</h1>
        <h1>pour booster votre carrière</h1>
      </div>
      <p>
        Améliorez votre expérience professionnelle avec nos packs personnalisés.
        Obtenez des conseils d'experts pour optimiser votre CV et postuler à des
        emplois dès maintenant.
      </p>
    </div>
    <div class="pricing">
      <div class="pricing-item">
        <div class="inner">
          <img style="place-self: center" src="./../../../assets/search.png" />
          <div class="pack-head">
            <h2 style="margin-top: 57px">GROWTH <span>PACK</span></h2>
            <h3>Feedback CV et candidatures</h3>
            <h2 style="color: #e81a41">29 DT TTC</h2>
          </div>
          <div>
            <div [ngClass]="'check'">
              <img src="./../../../assets/check.png" />
              <p>Avis<span> honnête</span> sur le CV</p>
            </div>
            <div [ngClass]="'check'">
              <img src="./../../../assets/check.png" />
              <p>
                Feedback sur le <span> système de suivi</span> des candidatures.
              </p>
            </div>
            <div [ngClass]="'check'">
              <img src="./../../../assets/check.png" />
              <p>
                Feedback sur le <span> contenu</span> et la
                <span> conception</span>.
              </p>
            </div>
          </div>
          <button class="button-76" (click)="startOrder(packs[0]._id)">
            Je veux ce pack
          </button>
        </div>
      </div>
      <div class="pricing-item">
        <div class="inner">
          <img
            style="place-self: center"
            src="./../../../assets/equilibrium.png"
          />
          <div class="pack-head">
            <h2>EVOLUTION <span>PACK</span></h2>
            <h3>CV professionnel optimisé</h3>
            <h2 style="color: #e81a41">99 DT TTC</h2>
          </div>
          <div>
            <div [ngClass]="'check'">
              <img src="./../../../assets/check.png" />
              <p>CV rédigé de manière <span> professionnelle</span>.</p>
            </div>
            <div [ngClass]="'check'">
              <img src="./../../../assets/check.png" />
              <p>Formaté pour le<span> succès</span> .</p>
            </div>
            <div [ngClass]="'check'">
              <img src="./../../../assets/check.png" />
              <p>Optimisé pour<span> les mots clés</span> .</p>
            </div>
            <div [ngClass]="'check'">
              <img src="./../../../assets/check.png" />
              <p>Conseils pour postuler à<span> des emplois</span> .</p>
            </div>
          </div>
          <button class="button-76" (click)="startOrder(packs[1]._id)">
            Je veux ce pack
          </button>
        </div>
      </div>
      <div class="pricing-item">
        <div class="inner">
          <img style="place-self: center" src="./../../../assets/rocket.png" />
          <div class="pack-head">
            <h2 style="margin-top: 52px">EXECUTIVE <span>PACK</span></h2>
            <h3>CV pro, lettre, LinkedIn</h3>
            <h2 style="color: #e81a41">249 DT TTC</h2>
          </div>
          <div>
            <div [ngClass]="'check'">
              <img src="./../../../assets/check.png" />
              <p>CV rédigé de manière professionnelle.</p>
            </div>
            <div [ngClass]="'check'">
              <img src="./../../../assets/check.png" />
              <p>Formaté pour le succès.</p>
            </div>
            <div [ngClass]="'check'">
              <img src="./../../../assets/check.png" />
              <p>Optimisé pour les mots clés.</p>
            </div>
            <div [ngClass]="'check'">
              <img src="./../../../assets/check.png" />
              <p><span>Lettre </span>de motivation.</p>
            </div>
            <div [ngClass]="'check'">
              <img src="./../../../assets/check.png" />
              <p><span> </span> dans les <span> 60 jours</span>.</p>
            </div>
            <div [ngClass]="'check'">
              <img src="./../../../assets/check.png" />
              <p>Remaniement de profil<span> LinkedIn</span> .</p>
            </div>
          </div>
          <button class="button-76" (click)="startOrder(packs[2]._id)">
            Je veux ce pack
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
