<div class="container">
  <h1><span>Vérification de votre </span> Paiement</h1>

  <p>
    Nous vous remercions de votre confiance envers notre service. Nous tenons à
    vous informer que nous sommes en train de vérifier votre paiement et que
    nous vous enverrons une confirmation dès que la transaction sera finalisée.
  </p>

  <p ngClass="p2">Veuillez télécharger votre reçu de paiement ici.</p>
  <div>
    <img src="./../../../assets/ver.png" />
  </div>
  <p>
    Votre compte a été vérifié avec succès. Nous vous souhaitons la bienvenue<br />
    pour votre première étape dans votre parcours professionnel.
  </p>
  <button class="button3">Accédez dès maintenant à votre profil !</button>
</div>
