<main>

    <div class="main1">
        <div class="texte">Les feedback du coach</div>
    </div>

    <div class="main2">

         <!-- begin profile-content -->
         <div class="profile-content">
            <!-- begin tab-content -->
            <div class="tab-content p-0">
               <!-- begin #profile-post tab -->
               <div class="tab-pane fade active show" id="profile-post">
                  <!-- begin timeline -->
                  <ul class="timeline">
                     <li>
                        <!-- begin timeline-body -->
                        <div class="timeline-body">
                           <div class="timeline-header">
                              <span class="userimage"><img src="./assets/profile-user.png" alt=""></span>
                              <span class="pull-right text-muted">Lun le 10/04/2023 </span><br>
                              <span class="username"><a href="javascript:;">Coach - Saif Abid</a> <small></small></span>
                             
                           </div>
                           <div class="timeline-content">
                              <p>
                                J'ai examiné votre CV et je pense que vous pouvez améliorer certains points pour attirer l'attention des employeurs potentiels.
                              </p>
                           </div>
                           <div class="timeline-likes">
                              <div class="stats-right">
                                 <div class="button stats-text"><img src="./assets/repondre.png" alt="repondre"></div>
                              </div>
                              <div class="stats">
                                 <span class="fa-stack fa-fw stats-icon">
                                 <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                 <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
                                 </span>
                                 <span class="fa-stack fa-fw stats-icon">
                                 <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                 <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                                 </span>
                                 <span class="stats-total"><img src="./assets/emoji.png" alt="emoji"></span>
                              </div>
                           </div>
                        </div><br><br>
                        <!-- end timeline-body -->

                        <!-- begin timeline-body -->
                        <div class="timeline-body1">
                            <div class="timeline-header">
                               <span class="userimage"><img src="./assets/profile-user.png" alt=""></span>
                               <span class="pull-right text-muted">Lun le 10/04/2023 </span><br>
                               <span class="username"><a href="javascript:;">Saif Abid</a> <small></small></span>
                              
                            </div>
                            <div class="timeline-content">
                               <p>
                                 Bien reçu
                               </p>
                            </div>
                            <div class="timeline-likes">
                               <div class="stats-right">
                                <form action="">
                                    <div class="input-group">
                                       <input type="text" class=" comm"placeholder="Commentaire...">
                                       <span class="input-group-btn p-l-10">
                                       </span>
                                    </div>
                                 </form>
                               </div>
                               <div class="stats">
                                  <span class="fa-stack fa-fw stats-icon">
                                  <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                  <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
                                  </span>
                                  <span class="fa-stack fa-fw stats-icon">
                                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                  <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                                  </span>
                                  <span class="stats-total"><img src="./assets/emoji.png" alt="emoji"></span>
                               </div>
                            </div>
                         </div>
                         <!-- end timeline-body -->
                     </li>
                     <li>
            
                    
                     </li>
        
                  </ul>
                  <!-- end timeline -->
               </div>
               <!-- end #profile-post tab -->
            </div>
            <!-- end tab-content -->
         </div>
         <!-- end profile-content -->
    </div>

</main>