<div class="navbar-container" (scroll)="onScroll($event)" [@cardAnimation]>
  <div class="divbar">
    <div class="logo" ngTilt>
      <img src="./../../../assets/logo_red.png" alt="logo" />
    </div>

    <div class="divbar-items-container">
      <div class="list-unstyled divItem" (click)="toApropos()" ngClass="hover">
        à propos de nous
      </div>

      <div (click)="toPacks()" ngClass="hover">Nos Packs</div>

      <div (click)="toTemoignage()" ngClass="hover">En savoir plus</div>

      <div (click)="toContact()" ngClass="hover">Contact</div>

      <div class="contPhone" (click)="login()">
        <img src="./../../../assets/enter.gif" />Connexion
      </div>
    </div>

    <div class="drop-down-toggle">
      <img
        src="https://www.pngitem.com/pimgs/m/30-302949_menu-bar-icon-png-transparent-png.png"
        style="width: 20px"
        (click)="toggle()"
        alt=""
      />
    </div>
    <div class="close">
      <img
        src="https://img.freepik.com/free-icon/x-symbol_318-1407.jpg?w=2000"
        style="width: 20px"
        (click)="toggle()"
        alt=""
      />
    </div>
  </div>
</div>
