<div class="main">
    <div class="right">
      <div class="right_1">
        <div class="title"><b>Aujourd’hui</b>, vous avez 1 réunion.</div>
        <div class="button"><img src="./assets/calendar.png" />Calendrier</div>
      </div>
  
      <div class="right_2">
        <div class="title2">
          <b>28</b>,
          <div><b>Mardi</b><br />Mars</div>
        </div>
  
        <div class="reunion_comp">
          <img src="./assets/reunion_comp1.png" />
  
          <div class="reunion_comp1">
            14h:00 - 16h:00<br />
            <b>Revue Hebdomadaire</b>
          </div>
  
          <div class="reunion_comp2">
            <span class="dot1"></span>Confirmer<br />
            <span class="dot2"></span>Reporter<br />
            <span class="dot3"></span>Annuler<br />
          </div>
  
          <div class="reunion_comp3">
            <img
              class="img1"
              src="./assets/user-reunion-profile1.png"
              alt="logo"
            />
            <img
              class="img2"
              src="./assets/user-reunion-profile2.png"
              alt="logo"
            />
          </div>
        </div>
  
        <div class="reunion_comp">
          <img src="./assets/user-reunion-vert.png" />
  
          <div class="reunion_comp1">
            14h:00 - 16h:00<br />
            <b>Réunion de Feedback</b>
          </div>
  
          <div class="reunion_comp2">
            <span class="dot2"></span>Reporter<br />
          </div>
  
          <div class="reunion_comp3">
            <img
              class="img1"
              src="./assets/user-reunion-profile1.png"
              alt="logo"
            />
            <img
              class="img2"
              src="./assets/user-reunion-profile2.png"
              alt="logo"
            />
          </div>
        </div>
        <br /><br />
  
        <div class="title22">
          <b>29</b>,
          <div><b>Mercredi</b><br />Mars</div>
        </div>
        <br /><br />
  
        <div class="title2">
          <b>30</b>,
          <div><b>Jeudi</b><br />Mars</div>
        </div>
  
        <div class="reunion_comp">
          <img src="./assets/user-reunion-bleu.png" />
  
          <div class="reunion_comp1">
            14h:00 - 16h:00<br />
            <b>lancement de la conception</b>
          </div>
  
          <div class="reunion_comp2">
            <span class="dot1"></span>Confirmer<br />
            <span class="dot2"></span>Reporter<br />
            <span class="dot3"></span>Annuler<br />
          </div>
  
          <div class="reunion_comp3">
            <img
              class="img1"
              src="./assets/user-reunion-profile1.png"
              alt="logo"
            />
            <img
              class="img2"
              src="./assets/user-reunion-profile2.png"
              alt="logo"
            />
          </div>
        </div>
      </div>
  </div>
  
      <div class="left">
        <div class="left-container">
  
          <div class="left_content">
              <h3>Prochaine Réunion</h3><br>
              <h2>Revue Hebdomadaire</h2>
              <h5>Mardi, 7 Mars 16:00 PM</h5><br><br>
  
              <div class="left_content_2">
                  <p><img src="./assets/user-reunion-localisation.png">https://meet.google.com/bsp-tjmk-csa</p>
              </div>
  
              <div class="left_content_3">
                  <p><img src="./assets/userprofile_completed_icon.png">2 personnes</p>
                  <div class="left_3_img">
                      <div><img src="./assets/user-reunion-profile1.png" alt="logo1">abid.saif2009@gmail.com</div>
                      <div><img src="./assets/user-reunion-profile2.png" alt="logo2">dkhilii.imen@gmail.com</div>
                  </div>
              </div><br><br>
  
              <div class="left_content_4">
                  <img src="./assets/align-left.png" alt="">Description
              </div>
  
              <div class="left_content_3">
                  <p><img src="./assets/paperclip.png">Pièce Jointe</p>
                  <div class="left_3_img">
                      <div><img src="./assets/image.png" alt="logo1">CV.pdf</div>
                      <div><img src="./assets/image.png" alt="logo2">CV.pdf</div>
                  </div>
              </div><br><br>
          </div>
  
        </div>
      </div>
  </div>
