.page{
    background: rgba(164, 27, 52, 1);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.menu{
    background: aqua;
}
.container_page{
    border-radius: 50px;
    margin: 20px;
    background: white;
    width: 90%;
  
}