<div class="title">
  <h1>Importez votre CV</h1>
  <hr />
  <br />
  <h2>Karriery s’occupe de tous !</h2>
</div>
<div class="steps">
  <div class="step">
    <div class="circle">
      <h1>1</h1>
    </div>
    <div>
      <h2>Créer votre profil</h2>
      <p>
        Créez votre profil professionnel en quelques minutes et augmentez vos
        chances de décrocher le travail de vos rêves
      </p>
    </div>
  </div>
  <div class="step">
    <div class="circle">
      <h1>2</h1>
    </div>
    <div>
      <h2>Importer votre CV</h2>
      <p>
        Ajoutez votre CV à votre profil pour offrir aux coachs une vue
        d'ensemble complète de votre expérience professionnelle.
      </p>
    </div>
  </div>
  <div class="step">
    <div class="circle">
      <h1>3</h1>
    </div>
    <div>
      <h2>Nos coachs s'occuperont de tout</h2>
      <p>
        Nous vous offrons un service personnalisé et adapté à vos besoins pour
        vous aider à atteindre vos objectifs professionnels.
      </p>
    </div>
  </div>
</div>
