<div class="info-admin">
  <div class="head-info">
    <h1>Bonjour, <span>Halim</span></h1>
    <mat-icon>notifications_none</mat-icon>
  </div>
  <div class="body-info">
    <table style="width: 100%">
      <tr class="table-head">
        <th>Nom du candidat</th>
        <th>Pack</th>
        <th>Post</th>
        <th>Contact</th>
        <th>CV optimisé</th>
        <th>Statut du compte</th>
      </tr>
      <tr>
        <td>
          <div
            style="
              display: grid;
              grid-template-columns: 50px 1fr;
              align-items: center;
            "
          >
            <img
              src="https://avatars.githubusercontent.com/u/66827428?v=4"
              style="width: 40px; border-radius: 50%"
              alt=""
            />
            <h2 style="margin: 0px">Abid Saif</h2>
          </div>
        </td>
        <td>GROWTH PACK</td>
        <td>Graphique design</td>
        <td>+216 22 321 564</td>
        <td><button>Abid_Saif_GP.pdf</button></td>
        <td>
          <select name="" id="">
            <option value="">Confirmed</option>
            <option value="">En attente</option>
            
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <div
            style="
              display: grid;
              grid-template-columns: 50px 1fr;
              align-items: center;
            "
          >
            <img
              src="https://avatars.githubusercontent.com/u/66827428?v=4"
              style="width: 40px; border-radius: 50%"
              alt=""
            />
            <h2 style="margin: 0px">Abid Saif</h2>
          </div>
        </td>
        <td>GROWTH PACK</td>
        <td>Graphique design</td>
        <td>+216 22 321 564</td>
        <td><button>Abid_Saif_GP.pdf</button></td>
        <td>
          <select name="" id="">
            <option value="">Confirmed</option>
            <option value="">En attente</option>
            
          </select>
        </td>
      </tr>

      <tr>
        <td>
          <div
            style="
              display: grid;
              grid-template-columns: 50px 1fr;
              align-items: center;
            "
          >
            <img
              src="https://avatars.githubusercontent.com/u/66827428?v=4"
              style="width: 40px; border-radius: 50%"
              alt=""
            />
            <h2 style="margin: 0px">Abid Saif</h2>
          </div>
        </td>
        <td>GROWTH PACK</td>
        <td>Graphique design</td>
        <td>+216 22 321 564</td>
        <td><button>Abid_Saif_GP.pdf</button></td>
        <td>
          <select name="" id="">
            <option value="">Confirmed</option>
            <option value="">En attente</option>
            
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <div
            style="
              display: grid;
              grid-template-columns: 50px 1fr;
              align-items: center;
            "
          >
            <img
              src="https://avatars.githubusercontent.com/u/66827428?v=4"
              style="width: 40px; border-radius: 50%"
              alt=""
            />
            <h2 style="margin: 0px">Abid Saif</h2>
          </div>
        </td>
        <td>GROWTH PACK</td>
        <td>Graphique design</td>
        <td>+216 22 321 564</td>
        <td><button>Abid_Saif_GP.pdf</button></td>
        <td>
          <select name="" id="">
            <option value="">Confirmed</option>
            <option value="">En attente</option>
            
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <div
            style="
              display: grid;
              grid-template-columns: 50px 1fr;
              align-items: center;
            "
          >
            <img
              src="https://avatars.githubusercontent.com/u/66827428?v=4"
              style="width: 40px; border-radius: 50%"
              alt=""
            />
            <h2 style="margin: 0px">Abid Saif</h2>
          </div>
        </td>
        <td>GROWTH PACK</td>
        <td>Graphique design</td>
        <td>+216 22 321 564</td>
        <td><button>Abid_Saif_GP.pdf</button></td>
        <td>
          <select name="" id="">
            <option value="">Confirmed</option>
            <option value="">En attente</option>
            
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <div
            style="
              display: grid;
              grid-template-columns: 50px 1fr;
              align-items: center;
            "
          >
            <img
              src="https://avatars.githubusercontent.com/u/66827428?v=4"
              style="width: 40px; border-radius: 50%"
              alt=""
            />
            <h2 style="margin: 0px">Abid Saif</h2>
          </div>
        </td>
        <td>GROWTH PACK</td>
        <td>Graphique design</td>
        <td>+216 22 321 564</td>
        <td><button>Abid_Saif_GP.pdf</button></td>
        <td>
          <select name="" id="">
            <option value="">Confirmed</option>
            <option value="">En attente</option>
            
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <div
            style="
              display: grid;
              grid-template-columns: 50px 1fr;
              align-items: center;
            "
          >
            <img
              src="https://avatars.githubusercontent.com/u/66827428?v=4"
              style="width: 40px; border-radius: 50%"
              alt=""
            />
            <h2 style="margin: 0px">Abid Saif</h2>
          </div>
        </td>
        <td>GROWTH PACK</td>
        <td>Graphique design</td>
        <td>+216 22 321 564</td>
        <td><button>Abid_Saif_GP.pdf</button></td>
        <td>
          <select name="" id="">
            <option value="">Confirmed</option>
            <option value="">En attente</option>
            
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <div
            style="
              display: grid;
              grid-template-columns: 50px 1fr;
              align-items: center;
            "
          >
            <img
              src="https://avatars.githubusercontent.com/u/66827428?v=4"
              style="width: 40px; border-radius: 50%"
              alt=""
            />
            <h2 style="margin: 0px">Abid Saif</h2>
          </div>
        </td>
        <td>GROWTH PACK</td>
        <td>Graphique design</td>
        <td>+216 22 321 564</td>
        <td><button>Abid_Saif_GP.pdf</button></td>
        <td>
          <select name="" id="">
            <option value="">Confirmed</option>
            <option value="">En attente</option>
            
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <div
            style="
              display: grid;
              grid-template-columns: 50px 1fr;
              align-items: center;
            "
          >
            <img
              src="https://avatars.githubusercontent.com/u/66827428?v=4"
              style="width: 40px; border-radius: 50%"
              alt=""
            />
            <h2 style="margin: 0px">Abid Saif</h2>
          </div>
        </td>
        <td>GROWTH PACK</td>
        <td>Graphique design</td>
        <td>+216 22 321 564</td>
        <td><button>Abid_Saif_GP.pdf</button></td>
        <td>
          <select name="" id="">
            <option value="">Confirmed</option>
            <option value="">En attente</option>
            
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <div
            style="
              display: grid;
              grid-template-columns: 50px 1fr;
              align-items: center;
            "
          >
            <img
              src="https://avatars.githubusercontent.com/u/66827428?v=4"
              style="width: 40px; border-radius: 50%"
              alt=""
            />
            <h2 style="margin: 0px">Abid Saif</h2>
          </div>
        </td>
        <td>GROWTH PACK</td>
        <td>Graphique design</td>
        <td>+216 22 321 564</td>
        <td><button>Abid_Saif_GP.pdf</button></td>
        <td>
          <select name="" id="">
            <option value="">Confirmed</option>
            <option value="">En attente</option>
            
          </select>
        </td>
      </tr>
    </table>
  </div>
  <div class="footer-info"></div>
</div>
