<section class="first">
    <p class="title">
      <b>Bienvenue</b> sur votre compte Karriery !
      <br />
  
      Ici, vous pourrez consulter toutes vos transactions passées sur la
      plateforme ainsi que votre solde actuel.
    </p><br><br>
  
    <section class="inputs">
      <h6>Votre Solde Disponible</h6>
      <p>780.500 <b>Dt</b></p><br>
      <div>
        <button class="myButtonRed">Demande De Retraite</button>
        <button class="myButtonBlack">Reclamer Paiment</button>
      </div>
    </section><br>
    <div class="inputs2">
      <h6>Liste des transaction</h6>
      <input class="Search" type="text" placeholder="Recherchez par mots-clés" />
    </div>
  </section><br><br>
  
  <table class="blueTable">
    <thead>
      <tr>
        <th>User</th>
        <th>Pack</th>
        <th>Prix</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Abid Saif</td>
  
        <td><b>Growth</b> Pack</td>
        <td>800dt</td>
  
        <td>6/04</td>
        <td><button class="myButton" type="button">Details</button></td>
      </tr>
      <tr>
        <td>Abid Saif</td>
  
        <td><b>Growth</b> Pack</td>
        <td>800dt</td>
  
        <td>6/04</td>
        <td><button class="myButton" type="button">Details</button></td>
      </tr>
  
      <tr>
        <td>Abid Saif</td>
  
        <td><b>Growth</b> Pack</td>
        <td>800dt</td>
  
        <td>6/04</td>
        <td><button class="myButton" type="button">Details</button></td>
      </tr>
    </tbody>
  </table>