<div ngClass="body">
  <div ngClass="containerr">
    <img src="./../../../assets/Mask.png" alt="logo5" />
    <div ngClass="container" id="container">
      <div ngClass="form-container log-in-container">
        <h1>Abid Saif</h1>
        <h2>EVOLUTION</h2>
        <h3>PACK</h3>
        <span ngClass="span4">Email: </span>
        <input type="email" placeholder="abid.Saif2009@gmail.com" />

        <span ngClass="span5">numéro de téléphone: </span>
        <input type="number" placeholder="99750415" />

        <span ngClass="span6">Poste recherché:</span>
        <input type="text" placeholder="UI/UX Designer " />
      </div>
    </div>
  </div>
</div>
