.body {
  background-color: #fff;
  position: absolute;
  width: 30%;
  height: 100%;
  border: 7px solid #ffffff;
  border-radius: 8%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: aqua;
}
.logo-left img {
  display: grid;

  place-items: center;
  width: 40%;
}
input[type="number"] {
  width: 70%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  box-sizing: border-box;
  background-color: white;
  padding: -10%;
  margin-bottom: 50%;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 17px;
  color: black;
  font-weight: normal;
  color: #000000;
  text-decoration-color: black;
  right: -28%;
  position: relative;
  top: -140px;
}
input[type="text"] {
  width: 70%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  box-sizing: border-box;
  background-color: white;
  padding: -10%;
  margin-bottom: 50%;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 17px;
  color: black;
  font-weight: normal;
  color: #000000;
  text-decoration-color: black;
  right: -22%;
  position: relative;
  top: -295px;
}
input[type="email"] {
  width: 90%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  box-sizing: border-box;
  background-color: white;
  padding: -10%;
  margin-bottom: 50%;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 17px;
  color: black;
  font-weight: normal;
  color: #202020;
  right: -11%;
  position: relative;
  top: 10px;
}
h1 {
  color: #474444;
  position: relative;
  width: 75%;
  height: 75%;
  left: 11%;
  top: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 547;
  font-size: 180%;
  text-align: center;
}
h3 {
  color: #3c3f3f;
  position: relative;
  width: 75%;
  height: 75%;
  left: 57%;
  top: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
}
.span4 {
  color: #474444;
  position: relative;
  width: 75%;
  height: 75%;
  left: 37%;
  top: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 547;
  font-size: 120%;
  text-align: center;
}

.span5 {
  color: #474444;
  position: relative;
  width: 55%;
  height: 75%;
  right: -15%;
  top: -140px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 547;
  font-size: 120%;
  text-align: center;
}
.span6 {
  color: #474444;
  position: relative;
  width: 55%;
  height: 75%;
  right: -21%;
  top: -295px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 547;
  font-size: 120%;
  text-align: center;
}
h2 {
  color: #000000;
  position: relative;
  width: 85%;
  height: 75%;
  left: 20%;
  top: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 450;
  font-size: 120%;
}
.span1 {
  color: #262e2e;
  position: relative;
  width: 75%;
  height: 75%;
  left: 0%;
  top: 240px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 100%;
  line-height: 30%;
  text-align: center;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  .span1 {
    flex: auto;
  }
  /* Media query for screens smaller than 600px */
  @media only screen and (max-width: 600px) {
    span {
      font-size: 16px;
      flex: 15%;
    }
  }
  .logo5 img {
    width: 50%;
    flex: auto;
  }
}
