<div class="container">
  <img ngClass="img" src="{{ user.photo }}" />
  <h1 ngClass="title">{{ user.lastname }} {{ user.firstname }}</h1>

  <div class="info">
    <div ngClass="div">
      <div ngClass="gras">Email:</div>
      <div>{{ user.email }}</div>
    </div>
    <div ngClass="div">
      <div ngClass="gras">numéro de téléphone:</div>
      <div>{{ user.phonenumber }}</div>
    </div>
    <div ngClass="div">
      <div ngClass="gras">Poste recherché :</div>
      <div>{{ user.field }}</div>
    </div>
  </div>
</div>
