<div class="example-form">
  <mat-form-field style="width: 100%" class="example-full-width">
    <mat-label>{{ text }}</mat-label>
    <input
      type="{{ type }}"
      matInput
      [formControl]="emailFormControl"
      placeholder="{{ placeholder }}"
      value="{{ value }}"
    />
    <mat-error
      *ngIf="
        emailFormControl.hasError('email') &&
        !emailFormControl.hasError('required')
      "
    >
      Please enter a valid {{ text }}
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      {{ text }} is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</div>
