.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  border: none;
  background-color: transparent;
  border-bottom: solid black 1px;
  width: 100%;
  color: black;
}
