::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 20px !important;
  padding: 20px;
  
}
.container {
  display: grid;
  place-items: center;
  width: 400px;
  height: 600px;
  border-radius: 25px !important;
  font-family: Arial, Helvetica, sans-serif;
  .header {
    width: 100%;
    text-align: center;
    h1 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 49px;
      text-align: center;
      color: #000000;
    }
  }
  .label-input {
     display: grid ;
     grid-template-columns: 30px 1fr;
     align-items: center;
     justify-items: start;
     grid-gap: 5px;
     height: 40px;
     color: #616A77;
     mat-icon {
      font-size: 25px;
     }
     label {
      margin: 0;

     }
  }
  .form-input {
    display: grid;
    grid-template-columns: 1fr;
    width: 350px;
    margin: 0 auto;
   input {
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #D1D5DB;
    background: white;
    padding: 5px;
   }
  }
}
.button {
  background: linear-gradient(90deg, #e81a41 20.6%, #b21b37 90.96%);
  border-radius: 10px;
  border-color: transparent;
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 19px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  letter-spacing: 0em;
  padding: 3%;
  padding-left: 25%;
  padding-right: 25%;
  place-self: center;
}
