::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  display: grid;
  place-items: center;
  min-height: 550px;
  width: 450px;
  border-radius: 20px;

  .container {
    width: 100%;
    display: grid;
    place-items: center;

    h1 {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 32px;
      padding-bottom: 40px;
      padding-top: 50px;
    }
    .example-full-width {
      width: 100%;
    }
  }
}
.button {
  background: linear-gradient(90deg, #e81a41 20.6%, #b21b37 90.96%);
  border-radius: 10px;
  border-color: transparent;
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 19px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  letter-spacing: 0em;
  padding: 3%;
  padding-left: 25%;
  padding-right: 25%;
  place-self: center;
}
.input_icon {
  display: grid;
  grid-template-columns: 1fr 10fr;
  align-items: center;
  grid-gap: 1em;
  margin: 10px;
}

.input-form {
   width: 94%;
   height: 30px;
   border: 1px solid gray;
   border-radius: 5px;
}
