<div *ngIf="entryData.use === 'login'" ngClass="container">
  <div class="header"><h1>Se connecter</h1></div>
  <div ngClass="form-input">
    <div class="label-input">
      <mat-icon> mail_outline</mat-icon>
      <label for="password">Email</label>
    </div>
    <input
      class="input-form"
      placeholder="Email@example.com"
      type="text"
      #email
    />
  </div>
  <div ngClass="form-input">
    <div class="label-input">
      <mat-icon>https</mat-icon> <label for="password">password</label>
    </div>
    <input
      type="password"
      placeholder="Password ...."
      class="input-form"
      #password
    />
  </div>
  <button ngClass="button" (click)="login(email.value, password.value)">
    Connexion
  </button>
  <h4 (click)="gotosignup()" style="cursor: pointer">Créer un compte</h4>
</div>
<!-- <div *ngIf="entryData.use === 'signup'" ngClass="container">
  <h1>Créer un compte</h1>
  <div ngClass="input_icon">
    <mat-icon>https</mat-icon>
    <input class="input-form" type="text" #emails />
  </div>

  <div ngClass="input_icon">
    <mat-icon>https</mat-icon>
    <input class="input-form" type="text" #passwords />
  </div>
  <div ngClass="input_icon">
    <mat-icon>https</mat-icon>
    <input class="input-form" type="text" #passwords2 />
  </div>

  <button ngClass="button" (click)="signup(emails.value, passwords.value)">
    Inscription
  </button>
  <h4>vous étes déja inscrit?<span (click)="gotologin()">login</span></h4>
</div> -->

<div *ngIf="entryData.use === 'signup'" ngClass="container">
  <div class="header"><h1>Se connecter</h1></div>
  <div ngClass="form-input">
    <div class="label-input">
      <mat-icon> mail_outline</mat-icon>
      <label for="password">Email</label>
    </div>
    <input
      class="input-form"
      placeholder="Email@example.com"
      type="text"
      #emails
    />
  </div>
  <div ngClass="form-input">
    <div class="label-input">
      <mat-icon>https</mat-icon> <label for="password">password</label>
    </div>
    <input
      type="password"
      placeholder="Password ...."
      class="input-form"
      #passwords
    />
  </div>
  <div ngClass="form-input">
    <div class="label-input">
      <mat-icon>https</mat-icon> <label for="password">password</label>
    </div>
    <input
      type="password"
      placeholder="Password ...."
      class="input-form"
      #passwords2
    />
  </div>
  <button ngClass="button" (click)="signup(emails.value, passwords.value)">
    Inscription
  </button>
  <h4>
    vous étes déja inscrit?<span
      (click)="gotologin()"
      style="cursor: pointer; color: #e81a41"
    >
      login</span
    >
  </h4>
</div>
