<app-navbar></app-navbar>
<div [ngClass]="'readMe_container'">
  <div [ngClass]="'container_GROWTH_PACK'">
    <div [ngClass]="'pack_container1'">
      <div [ngClass]="'to_put_pack_container_img_in_center'">
        <img
          [ngClass]="'pack_container_img'"
          src="./../../../assets/pack1.png"
        />

        <h2>GROWTH PACK</h2>
      </div>

      <br />
      <p [ngClass]="'paraghraph_black'">Feedback CV<br />et candidatures</p>
      <br />
      <h3>29 DT TTC</h3>
      <br />
      <div>
        <div [ngClass]="'check'">
          <img src="./../../../assets/check.png" />
          <p>Avis<span> honnête</span> sur le CV</p>
        </div>
        <div [ngClass]="'check'">
          <img src="./../../../assets/check.png" />
          <p>
            Feedback sur le <span> système de suivi</span> des candidatures.
          </p>
        </div>
        <div [ngClass]="'check'">
          <img src="./../../../assets/check.png" />
          <p>
            Feedback sur le <span> contenu</span> et la
            <span> conception</span>.
          </p>
        </div>
      </div>
    </div>

    <div [ngClass]="'container_paragraph1'">
      <p [ngClass]="'paragraph1'">
        Investir dans notre <span> GROWTH PACK</span> est un excellent moyen de
        prendre votre recherche d'emploi au niveau supérieur. Nous croyons que
        chaque candidat mérite une chance équitable de réussir et nous sommes là
        pour vous aider à atteindre <span> vos objectifs professionnels .</span
        ><br /><br />
        N'hésitez pas à nous contacter pour en savoir plus sur notre
        <span>GROWTH PACK </span>de croissance et comment il peut vous aider à
        vous démarquer dans votre recherche d'emploi. Nous sommes impatients de
        vous aider à atteindre vos objectifs professionnels et de vous soutenir
        tout au long de votre parcours
      </p>

      <div [ngClass]="'margin_button1'">
        <app-button-read-me></app-button-read-me>
      </div>
    </div>
  </div>
  <div [ngClass]="'container_EVOLUTION_PACK'">
    <div [ngClass]="'container_paragraph2'" id="paragraph_two">
      <p [ngClass]="'paragraph2'">
        Le pack <span> Evolution </span> de Karriery est conçu pour les
        personnes qui souhaitent progresser dans leur carrière. <br /><br />Ce
        pack comprend des fonctionnalités telles que l'accès à un coach
        professionnel, la rédaction et la révision de CV, des sessions de
        coaching sur l'entretien d'embauche, l'amélioration de la présence en
        ligne et la construction d'un réseau professionnel solide. Le pack
        Evolution permet également aux utilisateurs un suivie personnalisé qui
        fournit des analyses de leur profil et des recommandations pour
        atteindre leurs objectifs professionnels. Avec le pack Evolution de
        Karriery, les utilisateurs peuvent bénéficier d'un accompagnement
        personnalisé et efficace pour atteindre leurs objectifs de carrière.
      </p>

      <div [ngClass]="'margin_button2'">
        <app-button-read-me></app-button-read-me>
      </div>
    </div>

    <div [ngClass]="'style_pack2'">
      <div [ngClass]="'pack_container2'">
        <div [ngClass]="'to_put_pack_container_img_in_center'">
          <img
            [ngClass]="'pack_container_img'"
            src="./../../../assets/pack2.png"
          />
          <h2>EVOLUTION PACK</h2>
        </div>

        <br />
        <p [ngClass]="'paraghraph_black'">CV professionnel <br />optimisé</p>
        <br />
        <h3>99 DT TTC</h3>
        <br />
        <div>
          <div [ngClass]="'check'">
            <img src="./../../../assets/check.png" />
            <p>CV rédigé de manière <span> professionnelle</span>.</p>
          </div>
          <div [ngClass]="'check'">
            <img src="./../../../assets/check.png" />
            <p>Formaté pour le<span> succès</span> .</p>
          </div>
          <div [ngClass]="'check'">
            <img src="./../../../assets/check.png" />
            <p>Optimisé pour<span> les mots clés</span> .</p>
          </div>
          <div [ngClass]="'check'">
            <img src="./../../../assets/check.png" />
            <p>Conseils pour postuler à<span> des emplois</span> .</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div [ngClass]="'container_EXECUTIVE_PACK'">
    <div [ngClass]="'pack_container3'">
      <div [ngClass]="'to_put_pack_container_img_in_center'">
        <img
          [ngClass]="'pack_container_img'"
          src="./../../../assets/pack3.png"
        />
        <h2>EXECUTIVE PACK</h2>
      </div>

      <br />
      <p [ngClass]="'paraghraph_black'">CV pro, lettre, LinkedIn</p>
      <br />
      <h3>249 DT TTC</h3>
      <br />
      <div>
        <div [ngClass]="'check'">
          <img src="./../../../assets/check.png" />
          <p>CV rédigé de manière professionnelle.</p>
        </div>
        <div [ngClass]="'check'">
          <img src="./../../../assets/check.png" />
          <p>Formaté pour le succès.</p>
        </div>
        <div [ngClass]="'check'">
          <img src="./../../../assets/check.png" />
          <p>Optimisé pour les mots clés.</p>
        </div>
        <div [ngClass]="'check'">
          <img src="./../../../assets/check.png" />
          <p><span>Lettre </span>de motivation.</p>
        </div>
        <div [ngClass]="'check'">
          <img src="./../../../assets/check.png" />
          <p><span> </span> dans les <span> 60 jours</span>.</p>
        </div>
        <div [ngClass]="'check'">
          <img src="./../../../assets/check.png" />
          <p>Remaniement de profil<span> LinkedIn</span> .</p>
        </div>
      </div>
    </div>

    <div [ngClass]="'container_paragraph3'">
      <p [ngClass]="'paragraph3'">
        <strong> Notre pack </strong><span> Evolution</span> de
        <span>KARRIERY </span> offre une refonte professionnelle de votre CV,
        optimisée avec des mots-clés et formatée pour le succès. Nous vous
        fournirons des<span> conseils personnalisés</span> pour vous aider à
        postuler pour des emplois et à attirer l'attention des employeurs. Nos
        <span> experts en recrutement</span> examineront votre profil avec soin
        et vous fourniront des commentaires<span> détaillés</span> sur la façon
        de mettre en valeur votre expérience, vos compétences et vos
        réalisations pour vous aider à vous démarquer de la concurrence.<br /><br />
        Nous comprenons que la recherche d'emploi peut être difficile et
        stressante, mais notre<span> pack Evolution</span> peut vous aider à
        <span> avoir confiance en votre candidature</span>. Nous sommes là pour
        vous aider à réussir et à atteindre vos objectifs professionnels.
        <br /><br />
        Investir dans notre<span> pack Evolution</span> de
        <span> KARRIERY</span> est un excellent moyen de donner un coup de pouce
        à votre recherche d'emploi. Nous sommes convaincus que notre expertise
        et nos conseils personnalisés peuvent vous aider à réussir dans votre
        carrière.
      </p>
      <div [ngClass]="'margin_button3'">
        <app-button-read-me></app-button-read-me>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
