<div class="container">
  <h1>Paiement <span>Cash</span></h1>

  <p>
    Nous proposons également la possibilité de payer en espèces en personne. Si
    vous étes à Tunis, vous pouvez rencontrer notre représentant
    <span ngClass="p1">Mr.Halim Boussada(+216 58 065 605)</span> ou<span
      ngClass="p1"
    >
      M.Sami ben Chaalia (+216 95 759 234)</span
    >
    procéder au paiement en personne.Ils pourront vous donner de plus amples
    informations sur la procédure du paiement et sur les horaires et lieux de
    rendez-vous."
  </p>

  <p ngClass="p2">Veuillez télécharger votre reçu de paiement ici.</p>
  <div>
    <button class="button1">choisir un fichier</button>
    <button class="button2">Aucun fichier choisi</button>
  </div>

  <button class="button3" [routerLink]="'/createUser/verification'">
    Envoyer
  </button>
</div>
