<div class="top"></div>

<div class="container">
  <h4 class="text-right">Vos données personnelles</h4>
  <div class="divv">
    <div ngClass="div">
      <div class="sous-div">Nom:</div>
      <div>{{ user.lastname }}</div>
      <div ngClass="Modifier">Modifier</div>
    </div>

    <div ngClass="div">
      <div class="sous-div">Email:</div>
      <div>{{ user.email }}</div>
      <div ngClass="Modifier">Modifier</div>
    </div>
    <div ngClass="div">
      <div class="sous-div">Télephone</div>
      <div>99 287 568</div>

      <div ngClass="Modifier">Modifier</div>
    </div>

    <div ngClass="div">
      <div class="sous-div">Adresse</div>
      <div>{{ user.address }}</div>

      <div ngClass="Modifier">Modifier</div>
    </div>

    <div ngClass="div">
      <div class="sous-div">Ville</div>
      <div>tunis</div>

      <div ngClass="Modifier">Modifier</div>
    </div>

    <div ngClass="div">
      <div class="sous-div">Code Postal</div>
      <div>2000</div>

      <div ngClass="Modifier">Modifier</div>
    </div>

    <div ngClass="div">
      <div class="sous-div">Education</div>
      <div>3ème année licence en communication multimédia</div>

      <div ngClass="Modifier">Modifier</div>
    </div>

    <div ngClass="div">
      <div class="sous-div">Travaille</div>
      <div>Dentiste</div>

      <div ngClass="Modifier">Modifier</div>
    </div>

    <div ngClass="div">
      <div class="sous-div">Pays</div>
      <div>{{ user.city }}</div>

      <div ngClass="Modifier">Modifier</div>
    </div>

    <div ngClass="div">
      <div class="sous-div">à Propos</div>
      <div>
        Je m'appelle {{ user.lastname }} et je suis passionné par l'écriture
        depuis que je suis enfant...
      </div>

      <div ngClass="Modifier">Modifier</div>
    </div>
  </div>
</div>
