.top {
  width: 70%;
  height: 20%;
  margin: 0 auto;
  border-radius: 10px;
  display: grid;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  padding: 20px;
  padding-left: 30px;
  background: linear-gradient(
    to right,
    #861b2e,
    #9d1c33,
    #b51c38,
    #cd1b3d,
    #e61a41
  );
}
.container {
  background-color: aqua;
}
.container_text {
  background-color: rgb(174, 0, 255);
  display: grid;
  grid-gap:1em;
  grid-template-columns: 1fr 1fr 1fr;
}
.text-right {
  background-color: rgb(255, 0, 119);
}
.Modifier {
  margin: 0 auto;
  display: grid;

  padding-left: 50%;
  text-decoration: underline;
  color: rgba(23, 21, 98, 1);
}
