<div style="display: flex">
  <div style="flex: 1">
    <h2>Information Personnel</h2>
    <div ngClass="rectangle"></div>
    <span>Veuillez entrez votre numéro de telephone:</span>
    <input
      type="number"
      id="myInput"
      ngClass="icon-input"
      placeholder="(+216)"
    />
    <br />
    <span ngClass="span1">Veuillez entrer votre pays :</span>
    <input type="text" ngClass="icon-input3" placeholder="Tunisie" />
    <br />
    <span ngClass="span2">Veuillez entrer votre ville:</span>
    <input type="text" id="2" placeholder="Entrer votre ville" />
    <br />
    <span ngClass="span3">Veuillez entrer votre adresse:</span>
    <input type="text" id="3" placeholder="Entrer Votre adresse" />
    <br />
    <span ngClass="span4">Veuillez entrer votre code postal:</span>
    <input type="text" id="4" placeholder="Entrer Votre code postal" />
  </div>
  <div style="flex: 1"></div>
  <!-- Empty div for spacing on the right side -->
</div>
<div style="display: flex">
  <div style="flex: 1"></div>
  <!-- Empty div for spacing on the left side -->
  <div style="flex: 1">
    <h3>Information Carrière</h3>
    <form>
      <label ngClass="label1">Veuillez télécharger votre CV ci -dessous:</label>
      <input type="button" value="+ Télécharger un fichier" />

      <label ngClass="label2"
        >Veuillez entrer votre lien du profil LinkedIn ci-dessous:</label
      >
      <input
        type="url"
        ngClass="icon-input2"
        placeholder="http://ca.linkedin.com/in/nomlinkedin"
      />
      <br />
      <input type="submit" value="Suivant" />
    </form>
  </div>
</div>
