.button {
  background: rgba(219, 26, 63, 1);
  border-radius: 19px;
  border-color: transparent;
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 19px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  letter-spacing: 0em;
  padding: 3%;
  padding-left: 25%;
  padding-right: 25%;
  place-self: center;
}
