.container {
  text-align: center;
  width: 100%;
}
span {
  color: black;
  font-size: 42px;
  font-weight: normal;
}
h1 {
  color: black;
  font-size: 48px;
  font-weight: bold;
}
p {
  color: black;
  font-size: 16px;
  font-weight: normal;
}
.p1 {
  color: black;
  font-size: 16px;
  font-weight: bold;
}
.p2 {
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.button3 {
  padding: 1%;
  background-color: #e81a41;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  font-size: 20px; /* Updated font-size value */
  width: 13%;

  position: relative;
}
.button2 {
  padding: 1%;
  background-color: white;
  border-color: #e81a41;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;

  width: 20%;
}
.button1 {
  padding: 1%;
  background-color: white;
  border-color: #e81a41;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;

  width: 20%;
  border-radius: 15px;
}
