<div class="container">
  <h1>Paiement <span>par versement</span></h1>

  <p>
    Nous vous prions de bien vouloir procéder au paiement sur notre compte
    postal en utilisant le code suivant :
  </p>
  <p ngClass="p1">17001000000021806952</p>
  <p ngClass="p2">Veuillez télécharger votre reçu de paiement ici.</p>
  <div>
    <button class="button1">choisir un fichier</button>
    <button class="button2">Aucun fichier choisi</button>
  </div>

  <button class="button3" [routerLink]="'/createUser/verification'">
    Envoyer
  </button>
</div>
