.main_container {
  display: grid;
  grid-template-rows: 3fr 1fr;
  width: 100%;
  min-height: 100vh;
}
.header_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header_container_right {
  width: 64%;
  display: grid;
  justify-self: end;
  background-image: url(./../../../assets/application.png);
  background-size: cover;
  z-index: 999;
}
.header_container_left {
  width: 80%;
  padding-top: 5%;
  padding-left: 20%;
}
.title-header {
  margin-top: 5%;
  height: 160px;
  display: grid;
  place-items: center;
  align-items: start;
  grid-template-columns: 1fr 3fr;

  h1 {
    width: 851px;
    height: 160px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    line-height: 49px;
    color: #262e2e;
  }
}

.steps {
  width: 100%;
  height: 100%;
}
.sub-header {
  h2 {
    width: 80%;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;

    color: black;
    span {
      font-weight: 500;
    }
  }
  .call-to-action {
    margin-top: 30px;
    cursor: pointer;
    height: 80px;
    background: rgba(206, 27, 60, 1);
    border: none;
    font-family: "Montserrat", sans-serif;
    color: #262e2e;
    border-radius: 10px;
    transition: all 0.2s;
    a {
      display: grid;
      place-items: center;
      width: 500.79px;
      height: 80px;
      font-style: normal;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin: 0 auto;
      color: #ffffff;
    }
  }
  .call-to-action:hover {
    background: white;
    border: 2px solid #e81a41;
    a {
      color: #c61b3b;
      font-weight: 1000;
    }
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

///////////////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 1300px) {
  .header_container {
    grid-template-columns: 1fr 2fr;
  }
  .header_container_right {
    margin-top: -50px;
    width: 90%;
    height: 110%;
  }
  .header_container_left {
    padding-left: 10%;
  }
}
@media screen and (max-width: 1260px) {
  .header_container {
    grid-template-columns: 1fr 2fr;
  }
  .header_container_right {
    margin-top: -50px;
    width: 90%;
    height: 105%;
  }
  .header_container_left {
    padding-left: 10%;
  }
}
@media screen and (max-width: 1200px) {
  .main_container {
    height: 85%;
    margin-bottom: 10%;
  }

  .header_container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .header_container_right {
    display: none;
  }
  .header_container_left {
    padding: 0 auto;
    margin: 0 auto;
  }
  .sub-header {
    display: grid;
    width: 80%;
    place-items: center;
    grid-gap: 1em;
    h2 {
      text-align: center;
    }
  }
}

@media screen and (max-width: 970px) {
  .main_container {
    margin-bottom: 20%;
  }
  .title-header {
    grid-template-columns: 1fr;
    width: 80%;
    height: auto;
    h1 {
      font-size: 36px;
      width: 98%;
      height: auto;
    }
  }
  .sub-header {
    .call-to-action {
      height: 80px;
      a {
        width: 100%;
        height: auto;
        font-size: 18px;
      }
    }
  }
}
