<div id="header" [ngClass]="'main_container'">
  <div [ngClass]="'header_container'">
    <div [ngClass]="'header_container_left'" [@cardAnimation1]>
      <div class="title-header">
        <h1>Donner un coup de pouce à votre carrière professionnelle !</h1>
      </div>
      <div class="sub-header">
        <h2>
          Notre plateforme offre des services pour améliorer votre
          <span>CV</span>, écrire
          <span>une lettre de motivation</span> percutante, vous préparer à
          l'entretien et optimiser votre <span>profil LinkedIn.</span>
        </h2>
        <button class="call-to-action" (click)="action()" [@cardAnimation1]>
          <a>Planifiez votre session avec un expert </a>
        </button>
      </div>
    </div>
    <div [ngClass]="'header_container_right'" [@cardAnimation] ngTilt></div>
  </div>
</div>
